body{
    background-color: yellow;
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-shadow:        /* для рамки тексту*/
  -2px -1px 0 #000,
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000;
}

header, main{         /* стилі main та header разом */
    background-color: rgb(196, 79, 239);
    color: yellow;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

h1{
    text-align: center;
}

a{
    color: yellow;
    text-decoration: none;
}

article {
    border: 2px solid black;
    border-radius: 5px;
    width: 160px;
    height: 225px;
    padding: 5px;
    margin: 10px;
    transition: 1s;
    p{
        transition: 1s;
        font-size: 20px;
        text-align: center;
    }
    img{
        transition: 1s;
        width: 150px;
        text-align: center;
        border: 2px solid black;
    }
}

article:hover{
    height: 235px;
    width: 170px;
    p{
        font-size: 22px;
        text-align: center;
    }
    img{
        width: 160px;
        text-align: center;
    }
}

.quest{
    width: 100%; /* щоб ширина контейнеру була у весь єкран */
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

input{
    background-color: black;
    width: 10%;
    animation-name: anime1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.checkLast{
    background-color: black;
    width: 10%;
    animation-name: anime1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: 1s;
}

.checkLast:active{
    width: 9%;
}

.password{
    width: 100%;
    text-align: center;
}

@keyframes anime1 {  /* анімація кнопки та поле воду останього етапу */
    12.5% {
        border: 2px solid red;
        color: red;
    }

    25% {
        border: 2px solid orange;
        color: orange;
    }

    37.5% {
        border: 2px solid yellow;
        color: yellow;
    }
    
    50% {
        border: 2px solid greenyellow;
        color: greenyellow;
    }
    
    62.5% {
        border: 2px solid green;
        color: green;
    }
    
    75% {
        border: 2px solid skyblue;
        color: skyblue;
    }
    
    87.5% {
        border: 2px solid blue;
        color: blue;
    }
    
    100% {
        border: 2px solid red;
        color: red;
    }
}

/* квести */

.quest1{
    display: block;
    h2 {
        text-align: center;
        background-color: white;
        color: #000;
        border: 2px solid black;
        border-radius: 5px;
        text-shadow: none;
    }

    div{
        width: 99%;
        background-color: white;
        padding: 5px;
        text-align: center;
        border: 2px solid black;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        height: 99%;
    }

    button{
        width: 55%;
        height: 50px;
        margin: 5px;
        background-color: yellow;
        font-size: 120%;
        border-radius: 5px;
        transition: 0.5s;
        cursor: pointer;
    }

    button:hover{
        height: 55px;
        font-size: 125%;
        width: 60%;
    }

    button:active{
        width: 55%;
        height: 50px;
    }

    .button-conteiner{
        border: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    h3{
        text-shadow: none;
        position: absolute;
        top: 4px;
        left: 10px
    }
}

.quest2{
    display: none;
    h2 {
        text-align: center;
        background-color: white;
        color: #000;
        border: 2px solid black;
        border-radius: 5px;
        text-shadow: none;
    }

    
    div{
        width: 99%;
        background-color: white;
        padding: 5px;
        text-align: center;
        border: 2px solid black;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    button{
        width: 55%;
        height: 50px;
        margin: 5px;
        background-color: yellow;
        font-size: 120%;
        border-radius: 5px;
        transition: 0.5s;
        cursor: pointer;
    }

    button:hover{
        height: 55px;
        font-size: 125%;
        width: 60%;
    }

    button:active{
        width: 55%;
        height: 50px;
    }

    .button-conteiner{
        border: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    h3{
        text-shadow: none;
        position: absolute;
        top: 4px;
        left: 10px
    }
}

.quest3{
    display: none;
    h2 {
        text-align: center;
        background-color: white;
        color: #000;
        border: 2px solid black;
        border-radius: 5px;
        text-shadow: none;
    }
    
    div{
        width: 99%;
        background-color: white;
        padding: 5px;
        text-align: center;
        border: 2px solid black;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    button{
        width: 55%;
        height: 50px;
        margin: 5px;
        background-color: yellow;
        font-size: 120%;
        border-radius: 5px;
        transition: 0.5s;
        cursor: pointer;
    }

    button:hover{
        height: 55px;
        font-size: 125%;
        width: 60%;
    }

    button:active{
        width: 55%;
        height: 50px;
    }

    .button-conteiner{
        border: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    h3{
        text-shadow: none;
        position: absolute;
        top: 4px;
        left: 10px
    }
}

.quest4{
    display: none;
    h2 {
        text-align: center;
        background-color: white;
        color: #000;
        border: 2px solid black;
        border-radius: 5px;
        text-shadow: none;
    }
    
    div{
        width: 99%;
        background-color: white;
        padding: 5px;
        text-align: center;
        border: 2px solid black;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    button{
        width: 55%;
        height: 50px;
        margin: 5px;
        background-color: yellow;
        font-size: 120%;
        border-radius: 5px;
        transition: 0.5s;
        cursor: pointer;
    }

    button:hover{
        height: 55px;
        font-size: 125%;
        width: 60%;
    }

    button:active{
        width: 55%;
        height: 50px;
    }

    .button-conteiner{
        border: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    h3{
        text-shadow: none;
        position: absolute;
        top: 4px;
        left: 10px
    }
}

.quest5{
    display: none;
    h2 {
        text-align: center;
        background-color: white;
        color: #000;
        border: 2px solid black;
        border-radius: 5px;
        text-shadow: none;
    }
    
    div{
        width: 99%;
        background-color: white;
        padding: 5px;
        text-align: center;
        border: 2px solid black;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    button{
        width: 55%;
        height: 50px;
        margin: 5px;
        background-color: yellow;
        font-size: 120%;
        border-radius: 5px;
        transition: 0.5s;
        cursor: pointer;
    }

    button:hover{
        height: 55px;
        font-size: 125%;
        width: 60%;
    }

    button:active{
        width: 55%;
        height: 50px;
    }

    .button-conteiner{
        border: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    h3{
        text-shadow: none;
        position: absolute;
        top: 4px;
        left: 10px
    }
}

.quest6{
    display: none;
    h2 {
        text-align: center;
        background-color: white;
        color: #000;
        border: 2px solid black;
        border-radius: 5px;
        text-shadow: none;
    }
    
    div{
        width: 99%;
        background-color: white;
        padding: 5px;
        text-align: center;
        border: 2px solid black;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    button{
        width: 55%;
        height: 50px;
        margin: 5px;
        background-color: yellow;
        font-size: 120%;
        border-radius: 5px;
        transition: 0.5s;
        cursor: pointer;
    }

    button:hover{
        height: 55px;
        font-size: 125%;
        width: 60%;
    }

    button:active{
        width: 55%;
        height: 50px;
    }

    .button-conteiner{
        border: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    a{
        background-color: yellow;
        color: rgb(0, 0, 0);
        border: 2px solid black;
        padding: 4px;
        border-radius: 5px;
        font-size: medium;
    }
}

.win{
    text-shadow: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img{
        height: 400px
    }
}

/* стилі останьої сторінки */

nav{
    text-shadow: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    a{
        background-color: yellow;
        width: 200px;
        color: black;
        border: 2px solid black;
        border-radius: 5px;
        text-shadow: none;
        text-align: center;
        margin: 5px;
    }
}